html {
  background-image: url(img/backg.jpg);
}

body {
  color: white; 
}

.img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  width: 600px;
  height: 341px;
  border-color: black solid 2px;
  box-shadow: 0 2px 3px black;
  margin-top: 50px;
}

h1 {
  width: 500px;
  margin: auto;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 45px;
  color: white;
  text-shadow: 0px 0px 3px black;
  width: 800px;
  height: 100px;
}